
html {
	position: relative;
	min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

body {
	margin-bottom: 200px; /* Must remain consistent as footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px; /* Must remain consistent as body margin-bottom */
}

.sgg-d-none {
	display: none;
}

@media (max-width: 576px) {
	.season-gg-carousel-img-max-height {
		max-height: 250px;
	}
}

.season-gg-carousel-title-text {
	font-size: 1.171875rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.season-gg-carousel-text {
	font-size: 0.9375rem;
}

.season-gg-carousel-height {
	height: 300px;
}

@media (min-width: 576px) {
	.season-gg-carousel-height {
		height: 325px;
	}
	
	.season-gg-carousel-title-text {
		font-size: 2rem;
	}
	
	.season-gg-carousel-text {
		font-size: 1.171875rem;
		font-weight: 300;
	}
}

@media (min-width: 992px) {
	.season-gg-carousel-height {
		width: 75%;
	}
}

.scrollable {
  height: 475px;
  overflow-y: scroll;
}

.sgg-align-middle {
	display: flex;
	align-items: center;
}

.no-top-border th {
	border-top: none !important;
}

@media (max-width: 576px) {
	.i-middle {
		margin-top:1em;
	}
}

@media (min-width: 576px) {
	.i-middle {
		position:absolute;
		top:50%;
		margin-top:-.4em;
	}
}

.sgg-nav-link {
  	text-decoration: none;
}

.user-stat-breakdown-link {
	color: white;
  	text-decoration: none;
}

.nav-logo-img {
	max-height: 45px;
}

.logo-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@media (min-width: 992px) {
	.logo-img {
		width: 50%;
	}
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-underline-link {
	text-decoration: none !important;
}

.no-pad-no-margin {
	padding-bottom: 0 !important;
}

.height-full {
	height: 100% !important;
}

.popup {
	position: fixed;
	z-index: 999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.popup-content {
	max-width: 720px;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-rspnsv {
	width: 100%;
}

.horizontal-spacer {
	width: 100%;
	color: #EEEEEE;
	height: 1px;
	background-color: #EEEEEE;
}

@media (min-width: 576px) {
	
	.verticle-line {
		padding-right:20px;
		border-right: 3px;
		border-right: 1px solid #EEEEEE;
	}
	
	.btn-rspnsv {
		width: 50%;
	}
}

.gold-gradient {
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%,
		#FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
		radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC
		8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.is-valid-border {
	border-color: #18BC9C;
}

.clickable {
    cursor: pointer;
}

.word-wrap {
	word-wrap: break-word;
}
